.productCard {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin: 25px;
    margin-top: 0;
    background-color: rgba(225, 225, 225, .8);
    
}

.productImage {
    max-height: 200px;
    padding-right: 50px;
    padding-left: 50px;
}

.productInfo {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}